In [38]:
import requests
from bs4 import BeautifulSoup
import selenium
import pandas as pd

In [11]:
#selenium with chrome
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

driver = webdriver.Chrome('C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe')

C:\Users\User\AppData\Local\Temp/ipykernel_25660/3076702121.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe')

In [13]:
driver.get('https://www.playgwent.com/es/profile/darkraiDeWitt')

In [16]:
driver.refresh()

In [30]:
#find element by xpath
victorys = driver.find_element_by_xpath('//*[@id="statistics"]/div[2]/table[2]/tbody/tr[2]/td[2]')
#victorys = driver.find_element(by = 'By.XPATH', value = '//*[@id="statistics"]/div[2]/table[2]/tbody/tr[2]/td[2]')

C:\Users\User\AppData\Local\Temp/ipykernel_25660/3965618610.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  victorys = driver.find_element_by_xpath('//*[@id="statistics"]/div[2]/table[2]/tbody/tr[2]/td[2]')

In [26]:
#show the value of victorys
print(victorys.text)

31 partidas

In [31]:
derrotas = driver.find_element_by_xpath('//*[@id="statistics"]/div[2]/table[2]/tbody/tr[3]/td[2]')
print(derrotas.text)

23 partidas

C:\Users\User\AppData\Local\Temp/ipykernel_25660/159040656.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  derrotas = driver.find_element_by_xpath('//*[@id="statistics"]/div[2]/table[2]/tbody/tr[3]/td[2]')

In [32]:
empates = driver.find_element_by_xpath('//*[@id="statistics"]/div[2]/table[2]/tbody/tr[4]/td[2]')
print(empates.text)

1 partidas

C:\Users\User\AppData\Local\Temp/ipykernel_25660/1230643733.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  empates = driver.find_element_by_xpath('//*[@id="statistics"]/div[2]/table[2]/tbody/tr[4]/td[2]')

In [35]:
# Wait for the page to fully load
driver.implicitly_wait(5)

#Parse HTML code and grab tables with Beautiful Soup
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [36]:
tables = soup.find_all('table')

In [39]:
# Step 3: Read tables with Pandas read_html()
dfs = pd.read_html(str(tables))

In [44]:
dfs[1].rename(columns = {'Clasificación de la temporada actual':'Stats', 'Clasificación de la temporada actual.1':'value'}, inplace = True)

In [53]:
df = dfs[1]

In [54]:
df=df.drop(['Clasificación de la temporada actual.2'], axis=1)

In [57]:
df.value = df.value.str.replace('partidas', '')

In [58]:
df

,Stats,value
0,Total,3.840 MMR55
1,Victorias,31
2,Derrotas,23
3,Draws,1
4,Nilfgaard,40
5,Skellige,15
6,Monstruos,0
7,Reinos del Norte,0
8,Scoia'tael,0
9,Sindicato,0
10,Mira las estadísticas de la Clasificación Pro ...,Mira las estadísticas de la Clasificación Pro ...

In [62]:
df = df.iloc[0:9,:]

In [63]:
df

              Stats         value
0             Total  3.840 MMR55
1         Victorias           31
2          Derrotas           23
3             Draws            1
4         Nilfgaard           40
5          Skellige           15
6         Monstruos            0
7  Reinos del Norte            0
8        Scoia'tael            0

In [72]:
df1 = df.set_index('Stats').T

In [73]:
df1

Stats,Total,Victorias,Derrotas,Draws,Nilfgaard,Skellige,Monstruos,Reinos del Norte,Scoia'tael
value,3.840 MMR55,31,23,1,40,15,0,0,0